* {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1,
h2,
h3 {
    color: #ff4500;
}

h1 {
    font-size: 3em;
    text-align: center;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
}

.discord>p {
    width: 80%;
    margin-top: 50px;
    margin-bottom: 25px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.discord>p>a {
    color: #d43900;
}



.presentation,
.image-text,
.text {
    text-align: center;
    margin-bottom: 50px;
}


.presentation h2,
.image-text h2,
.text h2,
.formulaire h1 {
    color: #ff4500;
}

.container>h2 {
    text-align: center;
    font-size: 3em;
    padding-bottom: 80px;
}


img {
    max-width: 50%;
    display: block;
    margin: 0 auto;

}


.formulaire {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ff4500;
    border-radius: 5px;
    background-color: #1a1a1a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulaire h1 {
    color: #ff4500;
    text-align: center;
}

.formulaire input[type="text"],
.formulaire input[type="number"],
.formulaire input[type="email"],
.formulaire input[type="password"] {
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ff4500;
    border-radius: 3px;
    font-size: 1em;
    background-color: #1a1a1a;
    color: #fff;
}

.formulaire button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #ff4500;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 1.2em;
    cursor: pointer;
}

.formulaire button[type="submit"]:hover {
    background-color: #d43900;
}

.formulaire .error {
    color: #f00;
    font-size: 1em;
}

.formulaire .obg {
    font-size: 0.8em;
}

/* Style de la navbar */
.navbar {
    margin-bottom: 200px;
    background-color: #1a1a1a;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar li {
    display: inline;
    margin: 0 10px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}



.footer {
    width: 100%;
    background-color: #181615;
    color: #fff;
    text-align: left;
    padding: 20px;
    margin-top: 100px;

}

.footer p {
    margin: 10px 0;

}

.footer a {
    color: #d43900;
    text-decoration: none;
    margin: 0 10px;

}


@media screen and (max-width: 620px) {
    .formulaire {
        max-width: 80%;
        padding: 10px;
    }

    .formulaire input[type="text"],
    .formulaire input[type="number"],
    .formulaire input[type="email"],
    .formulaire input[type="password"] {
        width: calc(100% - 20px);
        padding: 8px;
        font-size: 0.9em;
    }

    .formulaire button[type="submit"] {
        padding: 8px;
        font-size: 1em;
    }

    .flex-container {
        max-width: 80%;
        display: flex;
        flex-direction: column;
    }

    .centered-image img {
        max-width: 100%;
    }

    .card {
        margin: 10px auto;
    }

}

.flex-container {
    display: flex;
    justify-content: center;
}


.card {
    flex: 0 0 30%;
    background-color: #333;
    margin: 35px 10px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.card h3 {
    color: #ff4500
}